.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .featuredItem {
    flex: 1;
    margin: 0 1em;
    padding: 1.5em;
    border-radius: 0.5em;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    .featuredTitle {
      font-size: 20px;
    }
    .featuredMoneyContainer {
      display: flex;
      align-items: center;
      margin: 10px 0;
      .featuredMoney {
        font-size: 2em;
        font-weight: 600;
      }
      .featuredMoneyRate {
        display: flex;
        align-items: center;
        margin-left: 1.2em;
        .featuredIcon {
          color: green;
          font-size: 14px;
          margin-left: 5px;
        }
        .featuredIcon.negative {
          color: red;
        }
      }
    }
    .featuredSub {
      font-size: 15px;
      color: grey;
    }
  }
}
